.reminder-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.reminder-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
}

.medicine-name {
    font-weight: bold;
}

.medicine-instruction {
    margin-left: 10px;
    color: gray;
}
