.outer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    }

.circle {
    border: 1px solid black;
    background-color: #45B473;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}