/* Button.css */

.button-container {
  position: fixed;
  top: 10px;
  right: 10px;
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
}

.hamburger-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  transition: background-color 0.3s ease;
}

.menu-button:hover .hamburger-icon span {
  background-color: #FF809F;
}

.dropdown {
  position: fixed;
  top: 50px;
  right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  width: 200px;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}

.dropdown-item {
  color: black;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.dropdown-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #FF809F;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.dropdown-item:hover::after {
  transform: scaleX(1);
}